<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
        <h2>Editar presupuesto</h2>
        <a class="btn btn-primary float-md-right" routerLink="/presupuestos">Regresar
            al listado</a>
        <br>
        <form [formGroup]="presupuestoForm" (ngOnSubmit)="onSubmit()">
            <div class="form-group">
                <label for="proveedor">Proveedor&nbsp;</label>
                <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.proveedor.valid &&
                presupuestoForm.controls.proveedor.dirty"> </i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.proveedor.invalid &&
                presupuestoForm.controls.proveedor.dirty"> </i>
                <input type="text" class="form-control" id="proveedor" formControlName="proveedor"
                    [(ngModel)]="presupuesto.proveedor">
                <p class="alert alert-danger" *ngIf="presupuestoForm.controls.proveedor.invalid &&
                presupuestoForm.controls.proveedor.dirty">
                    El campo Proveedor es obligatorio.
                </p>
                <div class="form-group">
                    <label for="fecha">Fecha Presupuesto&nbsp;</label>
                    <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.fecha.valid &&
                    presupuestoForm.controls.fecha.dirty"> </i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.fecha.invalid &&
                presupuestoForm.controls.fecha.dirty"> </i>
                    <input type="date" class="form-control" id="fecha" formControlName="fecha"
                        [(ngModel)]="presupuesto.fecha">
                    <p class="alert alert-danger" *ngIf="presupuestoForm.controls.fecha.invalid &&
                presupuestoForm.controls.fecha.dirty">
                        El campo Fecha presupuesto es obligatorio.
                    </p>
                </div>
                <div class="form-group">
                    <label for="concepto">Concepto&nbsp;</label>
                    <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.concepto.valid &&
                    presupuestoForm.controls.concepto.dirty"> </i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.concepto.invalid &&
                presupuestoForm.controls.concepto.dirty"> </i>
                    <input type="text" class="form-control" id="concepto" formControlName="concepto"
                        [(ngModel)]="presupuesto.concepto">
                    <p class="alert alert-danger" *ngIf="presupuestoForm.controls.concepto.invalid &&
                presupuestoForm.controls.concepto.dirty">
                        El campo Concepto es obligatorio.
                    </p>
                    <p class="alert alert-danger" *ngIf="presupuestoForm.controls.concepto.invalid &&
                    presupuestoForm.controls.concepto.dirty">
                        El campo Concepto debe tener al menos 10 caracteres.
                    </p>
                </div>
                <div class="form-group">
                    <label for="base">Base Imponible&nbsp;</label>
                    <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.base.valid &&
                    presupuestoForm.controls.base.dirty"> </i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.base.invalid &&
                presupuestoForm.controls.base.dirty"> </i>
                    <input type="number" class="form-control" id="base" formControlName="base"
                        [(ngModel)]="presupuesto.base">
                    <p class="alert alert-danger" *ngIf="presupuestoForm.controls.base.invalid &&
                presupuestoForm.controls.base.dirty">
                        El campo Base imponible es obligatorio.
                    </p>
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo de IVA&nbsp;</label>
                    <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.tipo.valid &&
                    presupuestoForm.controls.tipo.dirty"> </i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.tipo.invalid &&
                presupuestoForm.controls.tipo.dirty"> </i>
                    <select class="form-control" id="tipo" formControlName="tipo" [(ngModel)]="presupuesto.tipo">
                        <option value="">Seleccione...</option>
                        <option value=0> 0 %</option>
                        <option value=0.04> 4 %</option>
                        <option value=0.10>10 %</option>
                        <option value=0.21>21 %</option>
                    </select>
                    <p class="alert alert-danger" *ngIf="presupuestoForm.controls.tipo.invalid &&
                presupuestoForm.controls.tipo.dirty">
                        El campo Base IVA es obligatorio.
                    </p>
                </div>
                <div class="form-group">
                    <label for="iva">Importe IVA</label>
                    <input type="number" class="form-control" id="iva" formControlName="iva"
                        [(ngModel)]="presupuestoForm.value.iva" disabled>
                </div>
                <div class="form-group">
                    <label for="total">Total Factura IVA Incluido</label>
                    <input type="number" class="form-control" id="total" formControlName="total"
                        [(ngModel)]="presupuestoForm.value.total" disabled>
                </div>
                <button type="submit" class="btn btn-primary" *ngIf="presupuestoForm.valid"
                    (click)="this.onSubmit()">Guardar cambios</button><button type="submit" class="btn btn-primary"
                    *ngIf="!presupuestoForm.valid" disabled>Guardar cambios</button>
                <a class="btn btn-danger cancelar" routerLink="/presupuestos">Cancelar</a>
                <p class="alert alert-danger" *ngIf="!presupuestoForm.valid">
                    Por favor complete todos los campos
                </p>
            </div>
        </form>
    </div>
</div>